@import "settings";
@import "foundation";
@import "partials/material";


//https://color.adobe.com/Canada-Post-Theme-color-theme-8085969/edit/?copy=true&base=2&rule=Custom&selected=1&name=Copy%20of%20Canada%20Post%20Theme&mode=rgb&rgbvalues=0.8549019607843137,0.1607843137254902,0.10980392156862745,0.06274509803921569,0.48627450980392156,0.7529411764705882,0,0.28627450980392155,0.5647058823529412,0.2,0.2,0.2,0.5450980392156862,0.5450980392156862,0.5450980392156862&swatchOrder=0,1,2,3,4

body {
  background: #222;
  color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
  color: #EEE;
}

main {
  @include breakpoint(large down) {
    padding: 0;
  }
}

log-table, river-list {
  width: 100%;
}
.runs, .rivers {
  width: 100%;
  margin-bottom: 100px;
  background: #107CC0;

  th {
    white-space: nowrap;
    background: #333;
    color: #8B8B8B;
  }

  td, th {
    padding: 1em;
    text-align: left;
  }

  tbody > tr > td {
    //border-bottom: 1px solid #EEE;
    color: #EEE;
    small {
      color: #DDD;
    }
  }

  tbody > tr:nth-child(even) td {
    background: smartscale(#107CC0, 10%);
  }

  .extra {
    @include breakpoint(small only) {
      display: none;
    }
  }
}

.content-container {
  padding: 2em;
}

.log-stats {
  overflow-y: visible;
  overflow: visible;
}
.log-year {
  overflow-y: visible;
  background: #333333;
  padding: 0;

  .action-sheet-container {
    display: block;
  }

  .button {
    background: #333333;
    color: #DA291C;
    font-size: 1.4em;
    padding: .6em;
    margin: 0;
    display: block;
    width: 100%;
    transition: color .2s ease;
    &:hover {
      color: smartscale(#DA291C, 10%);
    }
  }
}
.log-stat {
  background: smartscale(#333, -20%);
  color: #FFF;
  font-size: 1.4em;
  padding: .5em 0;
  small {
    color: #FFF;
  }

}

.home-log-stats {
  .log-stat-year {
    font-size: 1.4em;
    padding: .5em 0;
  }

  .log-stat,
  .log-stat-year {
    font-size: 1.2em;
    margin: .5em 1em;
    border-radius: 2em;
  }
}

.form {
  padding: 2em 0;
  label {
    color: #107CC0;
  }
}

.flow-label {
  font-size: 1.5em;
}

#btn-addrun {
  position: fixed;
  z-index: 100;
  right: 1em;
  bottom: 1em;
  background: #DA291C;
  color: #FFF;
}
