@import "settings";
@import "foundation";
@import "partials/material";

body {
  background: #222;
}

main {
  @include breakpoint(large down) {
    padding: 0;
  }
}

.runs {
  width: 100%;

  background: #107CC0;

  th {
    white-space: nowrap;
    background: #333;
    color: #8B8B8B;
  }

  td, th {
    padding: 1em;
    text-align: left;
  }

  tbody > tr > td {
    //border-bottom: 1px solid #EEE;
    color: #EEE;
    small {
      color: #DDD;
    }
  }

  tbody > tr:nth-child(even) td {
    background: smartscale(#107CC0, 10%);
  }

  .extra {
    @include breakpoint(small only) {
      display: none;
    }
  }
}

.log-stats {
  overflow-y: visible;
  overflow: visible;
}
.log-year {
  overflow-y: visible;
  background: #333333;

  .button {
    background: #333333;
    color: #DA291C;
    font-size: 1.4em;
    padding: .3em;
    margin: .2em;
    border-radius: 6px;
    border: 1px solid smartscale(#DA291C, -25%);
  }
}
.log-stat {

  background: #DA291C;
  color: #FFF;
  font-size: 1.4em;
  padding: .5em 0;
  small {
    color: #FFF;
  }

}

.form {
  padding: 2em 0;
  label {
    color: #107CC0;
  }
}


#btn-addrun {
  position: fixed;
  z-index: 100;
  right: 1em;
  bottom: 1em;
  background: #DA291C;
  color: #FFF;
}
