<table class="runs">
  <thead>
    <tr class="runs-column-labels">
      <th>Date</th>
      <th>Section</th>
      <th>
        Days
        <span class="extra"> / Runs</span></th>
      <th>Feet</th>
      <th>Miles</th>
      <th>Flow</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="run in runs">
      <td>{{run.rundate | date: 'M/d'}}</td>
      <td>
        {{run.section}}
      </td>
      <td style="white-space:nowrap">
        {{run.days}} <small class="extra">day(s)</small>
        <span class="extra">
          /
          {{run.numruns}} <small>run(s)</small>
        </span>
      </td>
      <td style="white-space:nowrap">
        {{run.vertical}} <small class="extra">ft.</small>
      </td>
      <td style="white-space:nowrap">
        {{run.miles}} <small class="extra">mi.</small>
      </td>
      <td>{{run.flow}}</td>
    </tr>
  </tbody>
</table>
