
<div class="grid-block wrap">
  <div class="small-3 grid-content text-center">
    <div class="log-stat-detail">
      <strong>{{entry.days}}</strong>
      <span>Day(s)</span>
    </div>
  </div>
  <div class="small-3 grid-content text-center">
    <div class="log-stat-detail">
      <strong>{{entry.numruns}}</strong>
      <span>Run(s)</span>
    </div>
  </div>
  <div class="small-3 grid-content text-center">
    <div class="log-stat-detail">
      <strong>{{entry.miles}}</strong>
      <span>Miles</span>
    </div>
  </div>
  <div class="small-3 grid-content text-center">
    <div class="log-stat-detail">
      <strong>{{entry.vertical}}</strong>
      <span>Vertical Feet</span>
    </div>
  </div>
  <div class="small-12 grid-content text-center">
    <div class="log-stat-detail">
      <strong>{{entry.flow}}</strong>
      <span>{{run.usgsUnit}}</span>
    </div>
  </div>
</div>
