
<button id="btn-addrun" ui-sref="log-entry" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button>
<div class="grid-block log-stats">
  <div class="grid-content text-center log-year">
    <div zf-action-sheet="">
      <div zf-as-button="" title="{{year}}"></div>
      <div zf-as-content="" position="bottom">
        <ul>
          <li><a ui-sref="log.byyear({ year: 'All' })">Show All</a></li>
          <li ng-repeat="year in years"><a ui-sref="log.byyear({ year: year })">{{year}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-content text-center log-stat">
    <strong>{{totals.days}}</strong> <small>days</small>
  </div>
  <div class="grid-content text-center log-stat">
    <strong>{{totals.runs}}</strong> <small>runs</small>
  </div>
  <div class="grid-content text-center log-stat">
    <strong>{{totals.feet}}</strong> <small class="extra">ft.</small>
  </div>
  <div class="grid-content text-center log-stat">
    <strong>{{totals.miles}}</strong> <small class="extra">mi.</small>
  </div>
</div>
<div class="grid-block">
  <log-table runs="runs"></log-table>
</div>
<div ui-view></div>
